*.iml
/.idea/
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

.gradle/
/build/

/local.properties

*.log

*.hprof

.DS_Store
/captures/
.externalNativeBuild/
.cxx/
*.apk
output.json
local.properties

google-services.json